@media all and (min-width: 480px) {
    .LoginForm {
      padding: 120px 0 20px;
    }
  
    .LoginForm h3 {
      text-align: center;
    }

    .LoginForm form {
      margin: 0 auto;
      max-width: 320px;
    }
  }